<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles/theme-neptune-all.css">
    <title>Hello World!</title>
</head>

<body>
</body>

<script src="../js/jquery.min.js"></script>
<script src="../js/ext-all.js"></script>
<script src="../js/charts.js"></script>
<script src="../js/components.js"></script>
<script src="../js/d3.js"></script>
<script>
    var windowsapi = require("../windows/index.js").windowsapi;
    //var windowsapi = require("./windowsapi.node");
    function run() {
        windowsapi.getWindowHwnd("FTGMOS.exe")
        var MonsterHand = windowsapi.GetModelHandle("nengine.dll") + 0xEF8DC;
        function searchMonster() {

        }
    }
    Ext.onReady(function () {
        Ext.create("MainPanel", {
            renderTo: Ext.getBody(),
        })

    })
</script>

</html>
<!-- Ext.create("Ext.panel.Panel", {
    renderTo: Ext.getBody(),
    layout: "border",
    border:true,
    width: 600,
    height: 500,
    items: [
        Ext.create("functionPanel", {
            region: "north"
        }),
        Ext.create("MemoryGrid", {
            region: 'center',
        })
    ]
}) -->
<!-- Ext.create("Ext.window.Window", {
    autoShow: true,
    width: 500,
    height: 300,
    layout: "border",
    title: "asdf",
    html: "afd",
    items: [
    ]
}) -->