<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles/theme-neptune-all.css">
    <title>Hello World!</title>
</head>

<body>
</body>

<script src="../js/jquery.min.js"></script>
<script src="../js/ext-all.js"></script>
<script src="../js/charts.js"></script>
<script src="../js/components.js"></script>
<script src="../js/d3.js"></script>
<script>
    var windowsapi = require("../windows/index.js").windowsapi;
    //var windowsapi = require("./windowsapi.node");

    Ext.onReady(function () {
        Ext.create("MainPanel", {
            renderTo: Ext.getBody(),
        })
        // Ext.create("ByteCompare", {
        //     renderTo: Ext.getBody(),
        // })
        // Ext.create("MemoryUtilPanel", {
        //     renderTo: Ext.getBody(),
        // })
        
        // Ext.create("fentengLoginPanel",
        //     {
        //         renderTo: Ext.getBody(),
        //         width: 500,
        //         viewModel: {
        //             data: {
        //                 ftvalid: "",
        //                 userid: "a5461789",
        //                 password: "a5461789",
        //                 sign: "65ddeb30ff3f741d79d5879ce6fa86e4",
        //                 name:"阿德啊"
        //             }
        //         }
        //     }
        // )
        // Ext.create("fentengLoginPanel",
        //     {
        //         renderTo: Ext.getBody(),
        //         width: 500,
        //         viewModel: {
        //             data: {
        //                 ftvalid: "",
        //                 userid: "b5461789",
        //                 password: "b5461789",
        //                 sign: "cb8b45415e67989586b1e0f30264c120",
        //                 name:"阿德呃呃"
        //             }
        //         }
        //     }
        // )
        // Ext.create("fentengLoginPanel",
        //     {
        //         renderTo: Ext.getBody(),
        //         width: 500,
        //         viewModel: {
        //             data: {
        //                 ftvalid: "",
        //                 userid: "c5461789",
        //                 password: "c5461789",
        //                 sign: "8471ce01816bcabef4db29888f4d05b6"
        //             }
        //         }
        //     }
        // )
        // Ext.create("fentengLoginPanel",
        //     {
        //         renderTo: Ext.getBody(),
        //         width: 500,
        //         viewModel: {
        //             data: {
        //                 ftvalid: "",
        //                 userid: "d5461789",
        //                 password: "d5461789",
        //                 sign: "56e03fff63804d868b57a476e0c9701a"
        //             }
        //         }
        //     }
        // )
        //            

    })
</script>

</html>
<!-- Ext.create("Ext.panel.Panel", {
    renderTo: Ext.getBody(),
    layout: "border",
    border:true,
    width: 600,
    height: 500,
    items: [
        Ext.create("functionPanel", {
            region: "north"
        }),
        Ext.create("MemoryGrid", {
            region: 'center',
        })
    ]
}) -->
<!-- Ext.create("Ext.window.Window", {
    autoShow: true,
    width: 500,
    height: 300,
    layout: "border",
    title: "asdf",
    html: "afd",
    items: [
    ]
}) -->